/* ---------------- Field Row ---------------- */
.FieldRowContainer {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  gap: 1rem;
}

.FieldRowLabel {
  width: 160px;
  color: var(--color-primary-light);
  font-weight: 500;
  line-height: 1.4rem;
  flex-shrink: 0;
}

.FieldRowContent {
  flex: 1;
}
