.IssueCard {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-primary-light);
  border-radius: 0.8rem;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 10;
}

.IssueCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-color: var(--color-secondary);
}

.IssueCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.IssueCardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.IssueCardTitle {
  margin: 0;
  color: var(--color-foreground) !important;
}

.IssueCardTag {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.IssueCardDate {
  font-size: 0.75rem;
  color: var(--color-primary-light);
}
